<h2><%= dinosaur.name%></h2>
<a href="/dinosaurs">Back To Dino</a>
<p>This dinosaur is a good dinosaur and it is a <%= dinosaur.type%></p>
<a href="/dinosaurs/<%= dinosaur.id%>/edit">Edit This Dino</a>
<form method="POST" action="/dinosaurs/<%=dinosaur.id%>?_method=DELETE">
    <input type="submit" value="DELETE">
</form>